.card {}

.card-body {
    background-image: url('../../assets/images/post-01.jpg');
    width: 250px;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;

    /* display: block; */
}

.right-div {
    background-color: tomato;
    display: block;
    width: 550px;
    height: 450px;
}

/* .top-div {
    object-fit: cover;
    background-image: url('../../assets/images/post-06.jpg');
}

.bottom-div {
    background-color: blue;
    display: flex;
}

.div-1 {
    background-image: url('../../assets/images/post-07.jpg');
}

.div-1 {
    background-image: url('../../assets/images/post-08.jpg'); */

/* } */