.headline-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search-bar{
        position: relative;
        display: flex;
        width: 220px;
        height: 40px;
        color: #222;
        border: 1px solid grey;
        border-radius: 20px;
    }
    .search-input{
        border: none;
        outline: none;
        font-size: 14px;
        margin: 0 0 0 5px;
        padding: 10px;
    }
    i{
        display: inline-block;
    }
    
}
.searchIcon{
    margin: 0 0 0 0px;
}