*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
}
a{
    cursor: pointer;
}
ul li a:hover{
    color: orange;
}
nav{
    padding: 10px;

}