ul li{
    display: flex;
    gap: 5px;
    align-items: center;
}
li div{
    background-color: aquamarine;
    padding: 6px;
    font-weight: bold;
    margin: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.links{
    li{
        a{
            width: 250px;
        }
    }
}