
footer{
    background-color: #222222;
}
.main-footer{
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
}
.para-1 {
    margin-top: 20px;
    color: white;
}
.footer-logo{
    width: 200px;
}
.para-2 {
    margin-top: 20px;
    color: white;
}
.social-icons-container {
    margin: 30px 0px 30px 0px;
}
.icon{
    width: 24px;
    margin: 5px;
}

/* right-section */
.right-section{
    color: white;
}
.right-section h5{
    font-size: 18px;
    font-weight: bold;
}
.right-section ul{
    margin-top: 15px;
}
.right-section a{
    margin-top: 5px;
}
.right-section hr{
    width: 50%;
    margin-top: 5px;
}

/* SUb Footer */
.sub-footer{
    color: white;
    display: flex;
    justify-content: center; 
}