.up-icon-div {
    background-color: #17b978;
    width: 35px;
    height: 35px;
    position: fixed;
    display: flex;
    opacity: 0.6;
    cursor: pointer;
    bottom: 0;
    align-items: center;
    justify-content: center;
    right: 40px;
}

.middle-section {
    .popular-post {
        font-family: 'Poppins', sans-serif;
        font-family: 'Roboto', sans-serif;
    }
}

.left-section {

    .icon-container {
        .icon {
            cursor: pointer;
        }

        .icon:hover {
            color: greenyellow;
        }
    }
}

.right-section {
    a {
        font-family: 'Roboto-Medium';
        font-size: 15px;
        line-height: 1.333333;
    }
}
