.up-icon-div {
    background-color: red;

    span {
        background-color: greenyellow;
        height: 50px;
        padding: 5px;
        // border-radius: 5px;
    }

    .up-arrow {
        cursor: pointer;
        display: flex;
        justify-content: center;
        width: 31px;
        height: 30px;
    }

}

.middle-section {
    .popular-post {
        font-family: 'Poppins', sans-serif;
        font-family: 'Roboto', sans-serif;
    }
}

.left-section {

    .icon-container {
        .icon{
            cursor: pointer;
        }
        .icon:hover{
            color: greenyellow;
        }
    }
}

.right-section {
    a {
        font-family: 'Roboto-Medium';
        font-size: 15px;
        line-height: 1.333333;
    }
}
